 <template>
    <div class="<%=data.lowerName %>">
        {{msg}}
    </div>
 </template>
 
 <script>
 export default {
    name: '<%=data.name %>',
    props: {
      msg:String,
    },
    data() {
        return {
         message:"<%=data.name %>",
        };
    },
 
    mounted() {
        
    },
 
    methods: {
        
    },
 };
 </script>
 
 <style lang="scss" scoped>
 .<%=data.lowerName %>{

 }
 </style>